/* ----- Logo ----- */

#logo a {
	background-image:url('https://gallery.mailchimp.com/ae98e848ab712838adcc7f456../images/0fa6181c-ca72-4f37-8c38-8cac08334911.jpg'); 
	min-height:0;
	height:150px;
}
* html #logo a {/* IE6 png Support */
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="https://gallery.mailchimp.com/ae98e848ab712838adcc7f456../images/0fa6181c-ca72-4f37-8c38-8cac08334911.jpg", sizingMethod="crop");
}

/* ----- Backgrounds ----- */
html{
	background-image:none;	background-color:#ffffff;
}
#logo{
	background-image:none;	background-color:#ffffff;
}
#container, html.embed{
	background-color:#ffffff;
}
.safari .wufoo input.file{
	background:none;
	border:none;
}

.wufoo li.focused{
	
}
.wufoo .instruct{
	background-color:#f5f5f5;
}

/* ----- Borders ----- */
#container{
	border:0 solid #cccccc;
}
.wufoo .info, .wufoo .paging-context{
	border-bottom:1px dotted #cccccc;
}
.wufoo .section h3, .wufoo .captcha, #payment .paging-context{
	border-top:1px dotted #cccccc;
}
.wufoo input.text, .wufoo textarea.textarea{

}
.wufoo .instruct{
	border:1px solid #e6e6e6;
}
.fixed .info{
	border-bottom:none;
}
.wufoo li.section.scrollText{
	border-color:#dedede;
}

/* ----- Typography ----- */
.wufoo .info h2{
	font-size:180%;
	font-family:Arial;
	font-style:normal;
	font-weight:bold;
	color:#000000;
}
.wufoo .info div{
	font-size:140%;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	color:#444444;
}
.wufoo .section h3{
	font-size:160%;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	color:#000000;
}
.wufoo .section div{
	font-size:110%;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	color:#444444;
}

.wufoo label.desc, .wufoo legend.desc{
	font-size:140%;
	font-family:Arial;
	font-style:normal;
	font-weight:bold;
	color:#000;
}

.wufoo label.choice{
	font-size:110%;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	color:#444444;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select{
	font-style:normal;
	font-weight:normal;
	color:#333333;
	font-size:110%;
}
{* Custom Fonts Break Dropdown Selection in IE *}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file{ 
	font-family:Arial;
}
.safari .wufoo select.select{
	background:#ffffff url(../images/fieldbg.gif) repeat-x top;
	border:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
	border-bottom:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
	border-right:1px solid Background color 'ffffff url(../images/fieldbg.gif) repeat-x top' is not a hex color value.#;
	font-size:110% !important;
}


.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label{
	font-family:Arial;
	color:#444444;
}
.safari .wufoo input.file{ /* Webkit */
	font-size:110%;
	font-family:Arial;
	color:#444444;
}
.wufoo .instruct small{
	font-size:95%;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	color:#444444;
}

.altInstruct small, li.leftHalf small, li.rightHalf small,
li.leftThird small, li.middleThird small, li.rightThird small,
.iphone small{
	color:#444444 !important;
}

/* ----- Button Styles ----- */

.wufoo input.btTxt{
    padding: 6px 45px;
    background-color: #FF4800;
    
    font-size: 48px;
    color: #FFF;
    
    text-transform: uppercase;
    border: 0;
    
    font-family: "Oswald", Arial sans-serif;
    cursor: pointer;
    
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
}

/* ----- Highlight Styles ----- */

.wufoo li.focused label.desc, .wufoo li.focused legend.desc,
.wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label,
.safari .wufoo li.focused input.file{ 
	color:#000000;
}

/* ----- Confirmation ----- */

.confirm h2{
	font-family:Arial;
	color:#444444;
}
a.powertiny b, a.powertiny em{
	color:#1a1a1a !important;
}
.embed a.powertiny b, .embed a.powertiny em{
	color:#1a1a1a !important;
}

/* ----- Pagination ----- */

.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker{
	font-family:Arial;
	color:#444444;
}
.pgStyle1 var, .pgStyle2 td{
	border:1px solid #cccccc;
}
.pgStyle1 .done var{
	background:#cccccc;
}

.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em{
	background:#fff7c0;
	color:#000000;
}
.pgStyle1 .selected var{
	border:1px solid #e6dead;
}


/* Likert Backgrounds */

.likert table{
	background-color:#ffffff;
}
.likert thead td, .likert thead th{
	background-color:#e6e6e6;
}
.likert tbody tr.alt td, .likert tbody tr.alt th{
	background-color:#f5f5f5;
}

/* Likert Borders */

.likert table, .likert th, .likert td{
	border-color:#dedede;
}
.likert td{
	border-left:1px solid #cccccc;
}

/* Likert Typography */

.likert caption, .likert thead td, .likert tbody th label{
	color:#444444;
	font-family:Arial;
}
.likert tbody td label{
	color:#575757;
	font-family:Arial;
}
.likert caption, .likert tbody th label{
	font-size:140%;
}

/* Likert Hover */

.likert tbody tr:hover td, .likert tbody tr:hover th, .likert tbody tr:hover label{
	background-color:#fff7c0;
	color:#000000;
}
.likert tbody tr:hover td{
	border-left:1px solid #ccc69a;
}

/* ----- Running Total ----- */

.wufoo #lola{
	background:#e6e6e6;
}
.wufoo #lola tbody td{
	border-bottom:1px solid #cccccc;
}
.wufoo #lola{
	font-family:Arial;
	color:#444444;
}
.wufoo #lola tfoot th{
	color:#696969;
}

/* ----- Report Styles ----- */

.wufoo .wfo_graph h3{
	font-size:140%;
	font-family:Arial;
	color:#444444;
}
.wfo_txt, .wfo_graph h4{
	color:#444444;
}
.wufoo .footer h4{
	color:#000000;
}
.wufoo .footer span{
	color:#444444;
}

/* ----- Number Widget ----- */

.wfo_number{
	background-color:#f5f5f5;
	border-color:#dedede;
}
.wfo_number strong, .wfo_number em{
	color:#000000;
}

/* ----- Chart Widget Border and Background Colors ----- */

#widget, #widget body{
	background:#ffffff;
}
.fcNav a.show{
	background-color:#ffffff;
	border-color:#cccccc;
}
.fc table{
	border-left:1px solid #dedede;	
}
.fc thead th, .fc .more th{
	background-color:#dedede !important;
	border-right:1px solid #cccccc !important;
}
.fc tbody td, .fc tbody th, .fc tfoot th, .fc tfoot td{
	background-color:#ffffff;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #dedede;
}
.fc tbody tr.alt td, .fc tbody tr.alt th, .fc tbody td.alt{
	background-color:#f5f5f5;
}

/* ----- Chart Widget Typography Colors ----- */

.fc caption, .fcNav, .fcNav a{
	color:#444444;
}
.fc tfoot, 
.fc thead th,
.fc tbody th div, 
.fc tbody td.count, .fc .cards tbody td a, .fc td.percent var,
.fc .timestamp span{
	color:#000000;
}
.fc .indent .count{
	color:#4b4b4b;
}
.fc .cards tbody td a span{
	color:#7d7d7d;
}

/* ----- Chart Widget Hover Colors ----- */

.fc tbody tr:hover td, .fc tbody tr:hover th,
.fc tfoot tr:hover td, .fc tfoot tr:hover th{
	background-color:#fff7c0;
}
.fc tbody tr:hover th div, .fc tbody tr:hover td, .fc tbody tr:hover var,
.fc tfoot tr:hover th div, .fc tfoot tr:hover td, .fc tfoot tr:hover var{
	color:#000000;
}

/* ----- Payment Summary ----- */

.invoice thead th, 
.invoice tbody th, .invoice tbody td,
.invoice tfoot th,
.invoice .total,
.invoice tfoot .last th, .invoice tfoot .last td,
.invoice tfoot th, .invoice tfoot td{
	border-color:#dedede;
}
.invoice thead th, .wufoo .checkNotice{
	background:#f5f5f5;
}
.invoice th, .invoice td{
	color:#000000;
}
#ppSection, #ccSection{
	border-bottom:1px dotted #cccccc;
}
#shipSection, #invoiceSection{
	border-top:1px dotted #cccccc;
}

/* Drop Shadows */
#container{
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
	box-shadow:none !important;
}

/* - - - Local Fonts - - - */

/* - - - Responsive - - - */

@media only screen and (max-width: 480px) {
	html{
		background-color:#ffffff;
	}
	a.powertiny b, a.powertin em{
		color:#1a1a1a !important;
	}
}

/* - - - Custom Theme - - - */
.wufoo input.text {
    border: 0;
    border-bottom: 1px solid #BBB;
    
    padding: 8px;
    background: transparent;
}

form li.buttons {
    padding-top: 50px;
    text-align: center;
}
