body, html {
    padding: 0;
    margin:0;
    
    font-family: "Open Sans", Arial sans-serif;
}

.ryksponsive {
    display: block;
    width: 1024px;
    
    margin: 0px auto;
    position: relative;
}


.translate300 {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.translate500 {
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;    
}

.translate1000 {
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
        -ms-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;    
}

/**/

header {
    background-color: #000;
    height: 50px;
    
    
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: right; 
}

#toplogo {
    left:10px;
    top: 8px;
    position: absolute;
    
    height: 70px;
    width: auto;
}

span.white-header-text {
    font-family: "Oswald", Arial sans-serif;
    color: #FFF;
    
    text-transform: uppercase;
    position:absolute;
    font-size: 38px;
    
    letter-spacing: 2px;
    top: 6px;
    left: 120px;
}

.floating-doodles {
    height: 700px;
    display: block;
    
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.doodle {
    position: absolute;
    width: 170px;
    height: auto;
}

.doodle1 {
    bottom: -10px;
    right: -20px;
    
    width: 200px;
}

.doodle2 {
    top: 50px;   
    left: 250px;
    
    width: 135px;
}

.doodle3 {
    top: 2px;
    right: 30px;
    
    width: 135px;
}

.doodle4 {
    bottom:70px;
    left: 15px;   
}

.big-title-wrapper {
    display: block;
    top: 120px;
    left: -20px;
    
    position:relative;
}

.two-col-ryksponsive {
    display: block;
}

.col-ryksponsive {
    display: block;
    vertical-align: top;
    float: left;
}

.paperplane {
    width: 500px;
    height: auto;
    
    -webkit-transform: translate3d(-300px, -150px, 0px) scale(0.5);
       -moz-transform: translate3d(-300px, -150px, 0px) scale(0.5);
        -ms-transform: translate3d(-300px, -150px, 0px) scale(0.5);
         -o-transform: translate3d(-300px, -150px, 0px) scale(0.5);
            transform: translate3d(-300px, -150px, 0px) scale(0.5);
    
    opacity: 0;
}
.paperplane.shown {
    -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
       -moz-transform: translate3d(0px, 0px, 0px) scale(1);
        -ms-transform: translate3d(0px, 0px, 0px) scale(1);
         -o-transform: translate3d(0px, 0px, 0px) scale(1);
            transform: translate3d(0px, 0px, 0px) scale(1);   
    
    opacity: 1;
}

h1 {
    margin-top: -10px;   
}

.startat100y {
    -webkit-transform: translate3d(0px, 100px, 0px);   
       -moz-transform: translate3d(0px, 100px, 0px);
        -ms-transform: translate3d(0px, 100px, 0px);
         -o-transform: translate3d(0px, 100px, 0px);
            transform: translate3d(0px, 100px, 0px);
    
    opacity: 0;
}

.startat100y.shown {
    -webkit-transform: translate3d(0px, 0px, 0px);   
       -moz-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
         -o-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    
    opacity: 1;    
}

h1 .big-montreal {
    color: #000;
    font-size: 46px;
    
    letter-spacing: 7px;
    font-weight: 900;
    display: block;
    margin-bottom: -20px;
}

h1 .h1-big-word {
    font-size: 78px;
    color: #FF4200;
    
    display: block;
    font-weight: 800;
    margin-bottom: -30px;
}

h2 small {
    letter-spacing: -2px; 
    font-size: 20px;
}

h2 {
    font-size: 32px;
    font-weight: 800;
}

h3 {
    color: #FF4200;
    text-transform: none;
    font-size: 24px;
}

.summary-wrapper {
    float: none;
    clear: both;
    
    position:relative;
    top: 190px;
    
    margin-bottom: 290px;
}

.summary-wrapper p {
    margin-left: 220px;
    margin-right: 180px;
    
    font-weight: 600;
    font-size: 18px;
}

.orange {
    color: #FF4200;
    font-weight: 900;
}

.countdown-wrapper {
    display: block;
    clear: both;
    float: none;
    
    text-align: center;
    
    margin-bottom: 100px;
}

.section-subtitle {
    font-family: "Oswald", Arial sans-serif;   
    color: #000;
    
    font-size: 32px;
    text-transform: uppercase;
    
    letter-spacing: 2px;
    text-align: center;
}

.timeleft-wrapper {
    display: inline-block;  
    margin:30px;
}

.timeleft-wrapper span {
    display: block;
    color: #FF4200;
    
    text-transform: uppercase;
    font-size: 22px;
    
    font-family: "Oswald", Arial sans-serif;
}

.timeleft-wrapper span.timeleft {
    font-size: 72px;
}

.participate-wrapper {
    text-align: center;   
}

iframe {
    width: 100%;
    height: 1100px;
    
    border: none;
    margin-bottom: 0px;
}

footer {
    background-color: #EEE;
    padding-top: 50px;
    padding-bottom: 50px;
    
    display: block;
    text-align: center;
}

.floating-partner, .floating-partner img {
    display: inline-block;
    height: 100px;
    
    margin: 30px 15px;
}